# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Python
.env
env.example
*.env
env.*
__pycache__/
*.pyc
venv/
env/
.venv/

# Logs
generation.log

# OS
.DS_Store

# IDE
.vscode/
.idea/
*.swp

.ext
*.ext
ext.*

.disabled
*.disabled
disabled.*